<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://mySchema"
        <spot>xmlns</spot>="http://www.w3.org/2001/XMLSchema"
        xmlns:my="http://mySchema">

    <element name="myElement" type="my:TYPE"/>
    <simpleType name="TYPE" id="TYPE">
        <restriction base="integer">
            <minInclusive value="0" id="nonNegativeInteger.minInclusive"/>
        </restriction>
    </simpleType>
</schema>
