[{<info descr="null">a</info>,<info descr="null"> ab</info>,<info descr="null"> abc</info>}<info descr="null">bar</info>[<info descr="null">f</info><info descr="null">o</info><info descr="null">o</info>]<info descr="null">bas</info>{<info descr="null">hello</info>,<info descr="null"> world</info>}]
