sudo: false
language: python

matrix:
  include:
    - python: "3.6-dev"
      env: TEST_CMD="flake8"
    - python: "3.5"
      env: TEST_CMD="./tests/mypy_test.py"
    - python: "2.7"
      env: TEST_CMD="./tests/pytype_test.py --num-parallel=4"

install:
  # pytype needs py-2.7, mypy needs py-3.2+. Additional logic in runtests.py
  - if [[ $TRAVIS_PYTHON_VERSION == '3.6-dev' ]]; then pip install -U flake8==3.3.0 flake8-bugbear>=17.3.0 flake8-pyi>=17.1.0; fi
  - if [[ $TRAVIS_PYTHON_VERSION == '3.5' ]]; then pip install -U git+git://github.com/python/mypy git+git://github.com/python/typed_ast; fi
  - if [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then pip install -U git+git://github.com/google/pytype; fi

script:
  - $TEST_CMD
