mypy==0.971
pytype==2022.6.23; platform_system != "Windows"
# must match .pre-commit-config.yaml
black==22.6.0
# must match .pre-commit-config.yaml
flake8==4.0.1
flake8-bugbear==21.11.29
flake8-pyi==22.7.0
# must match .pre-commit-config.yaml
isort==5.10.1
tomli==1.2.2
# must match .pre-commit-config.yaml
pycln==2.0.4
packaging==21.3
termcolor
