void test() {
  while (checkCondition()) {
    somethingElse();
    <spot>if (extracted()) break;</spot>
  }
}

<spot>private boolean extracted() {
  if (checkCondition()) {
    return true;
  }
  System.out.println("Text");
  return false;
}</spot>