root = true

[{**/a/**.cs,**/b/**.cs,**/c/**.cs,**/d/**.cs,**/e/**.cs,**/f/**.cs,**/g/**.cs,**/h/**.cs,**/i/**.cs,**/j/**.cs,**/k/*.cs}]
key = value

[{**/1/**.cs,**/2/**.cs,**/3/**.cs,**/4/**.cs,**/5/**.cs,**/6/**.cs,**/7/**.cs,**/8/**.cs,**/9/**.cs,**/10/**.cs,**/11/*.cs}]
key = value

[{**/Commands/**.cs,**/Contracts/**.cs,**/DTOs/**.cs,**/Events/**.cs,**/Entities/**.cs,**/Model/**.cs,**/Models/**.cs,**/Queries/**.cs,**/Requests/**.cs,**/ViewModels/**.cs,**/PricingSheets/*.cs}]
key = value
