import kotlin.math.abs

@Throws(CheckEngineException::class)
fun Engine.startEngineAndLog() {
    callStarter()
    println("Engine started!")
}

fun <caret>Wheel.rotateWheel(angle: Float) {
    if (angle > 0) {
        rotateClockwise(angle)
    } else {
        rotateCounterClockwise(abs(angle))
    }
}

interface Engine {
    fun callStarter()
}

interface Wheel {
    fun rotateClockwise(angle: Float)
    fun rotateCounterClockwise(angle: Float)
}

class CheckEngineException : Exception()