import java.awt.Color;

fun main() {
    val hue = 5f
    val saturation = 10f
    val brightness = 10f

    val rgb = Color.HSBtoRGB(hue, saturation, brightness)
    <caret>val red = rgb shr 16 and 0xFF
    val green = rgb shr 8 and 0xFF
    val blue = rgb and 0xFF
}