
class MoveDemo : Thread() {
    var started = false

    private fun printDebugMessage() {
        println("Hello from a thread!")
    }

    override fun run() {
        <caret>started = true
        printDebugMessage()
    }
}

fun main(args: Array<String>) {
    MoveDemo().start()
}