<xsl:stylesheet xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
  <xsl:template name="myTemplate">
    <xsl:param name="optional" select="true()" />
    <spot><xsl:call-template name="myTemplate" /></spot>
  </xsl:template>
</xsl:stylesheet>