<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>JetBrains.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Java</key>
	<dict>
		<key>ClassPath</key>
		<string>$APP_PACKAGE</string>
		<key>MainClass</key>
		<string>com.intellij.idea.Main</string>
		<key>Properties</key>
		<dict>
			<key>CVS_PASSFILE</key>
			<string>~/.cvspass</string>
			<key>apple.laf.useScreenMenuBar</key>
			<string>true</string>
			<key>com.apple.mrj.application.live-resize</key>
			<string>false</string>
			<key>idea.config.path</key>
			<string>~/Library/Preferences/IntelliJIdea10CE/</string>
			<key>idea.is.internal</key>
			<string>true</string>
			<key>idea.log.path</key>
			<string>~/Library/Logs/IntelliJIdea10CE/</string>
			<key>idea.platform.prefix</key>
			<string>Idea</string>
			<key>idea.plugins.path</key>
			<string>~/Library/Application Support/IntelliJIdea10CE/</string>
			<key>idea.system.path</key>
			<string>~/Library/Caches/IntelliJIdea10CE/</string>
			<key>idea.use.default.antialiasing.in.editor</key>
			<string>true</string>
		</dict>
		<key>VMOptions</key>
		<string>-ea</string>
		<key>VMOptions.i386</key>
		<string>-Xms128m -Xmx512m -XX:MaxPermSize=250m</string>
		<key>VMOptions.x86_64</key>
		<string>-Xms128m -Xmx800m -XX:MaxPermSize=350m -XX:+UseCompressedOops -XX:ReservedCodeCacheSize=256m</string>
		<key>WorkingDirectory</key>
		<string>$APP_PACKAGE/bin</string>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2013 JetBrains inc. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
