#if ($package)
package ${package}
#end
#if ($sharedPackage)
import ${sharedPackage}.App
#end
import androidx.compose.material.MaterialTheme
import androidx.compose.ui.window.Window
import androidx.compose.ui.window.application

fun main() = application {
    Window(onCloseRequest = ::exitApplication) {
        MaterialTheme {
            App()
        }
    }
}