name: CI checks

on:
  push:
  pull_request:

jobs:
  assemble:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        supported-ij-version:
          - 232
          - 233
          - 241

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'zulu'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Run :assemble task
        run: ./gradlew assemble -Psupported.ij.version=${{ matrix.supported-ij-version }}

  checks:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        supported-ij-version:
          - 232
          - 233
          - 241

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'zulu'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run :check task
        run: ./gradlew check -Psupported.ij.version=${{ matrix.supported-ij-version }} --continue

      - uses: github/codeql-action/upload-sarif@v2
        if: ${{ always() }}
        with:
          sarif_file: ${{ github.workspace }}/build/reports/static-analysis.sarif
          checkout_path: ${{ github.workspace }}
