import math
import sys


def demo(a, b, c):
    n = float(sys.argv[1])
    <caret>d = b ** 2 - n * a * c
    if d > 0:
        disc = math.sqrt(d)
        root1 = (-b + disc) / (2 * a)
        root2 = (-b - disc) / (2 * a)
        return root1, root2
    elif d == 0:
        return -b / (2 * a)
    else:
        return "This equation has no roots"


class Solver:
    class Roots:
        pass
    pass


class Roots:
    pass


if __name__ == '__main__':
    solver = Solver()
    a = int(input("a: "))
    b = int(input("b: "))
    c = int(input("c: "))
    result = demo(a, b, c)
    print(result)
