def factorial(n):
    """This is a recursive function that calls
   itself to find the factorial of given number"""
    if n == 1:
        return n
    else:
        return n * factorial(n - 1)


# We will find the factorial of this number
num = int(input("Enter a Number: "))

# if input number is negative then return an error message
# elif the input number is 0 then display 1 as output
# else calculate the factorial by calling the user defined function
if <caret>num < 0:
    print("Factorial cannot be found for negative numbers")
elif num == 0:
    print("Factorial of 0 is 1")
else:
    print("Factorial of", num, "is: ", factorial(num))

