### Profiles ###

# ci — configuration tailored for CI

### --- ###
import common.bazelrc

# Disk Cache
build --experimental_disk_cache_gc_max_size=32G --experimental_disk_cache_gc_max_age=28d
common:macos --disk_cache=~/Library/Caches/JetBrains/community-bazel-disk-cache
common:linux --disk_cache=~/.cache/JetBrains/community-bazel-disk-cache
common:windows --disk_cache=~/AppData/Local/Temp/JetBrains/community-bazel-disk-cache

# TeamCity-specific options
common:teamcity --show_progress_rate_limit=30
