root = true

[*]
end_of_line = lf
indent_style = space
indent_size = 2
ij_continuation_indent_size = 2
max_line_length = 140
tab_width = 2

ij_any_else_on_new_line = true
ij_any_catch_on_new_line = true
ij_any_finally_on_new_line = true
ij_any_block_comment_at_first_column = false
ij_any_line_comment_at_first_column = false
ij_javascript_force_semicolon_style = true
ij_javascript_use_semicolon_after_statement = false
ij_kotlin_code_style_defaults = KOTLIN_OLD_DEFAULTS