*.pyc
.DS_Store
.gradle
.idea/gradle_extensions.xml
.idea/libraries/Gradle__*.xml
.idea/shelf
.idea/workspace.xml
/config
/out
/system
/test-config
/test-system
/univocity-parsers
build/dependencies/.gradle
build/dependencies/build
edu/dependencies/.gradle
edu/dependencies/build
native/**/build/
stale_outputs_checked
**/build
/android