gradle.properties
gradlew
gradlew.bat
.gradle/
gradle/
build/
out/
src/main/generated-java/
.idea/**
!.idea/compiler.xml
!.idea/encodings.xml
!.idea/externalDependencies.xml
!.idea/gradle.xml
!.idea/icon.png
!.idea/icon_dark.png
!.idea/misc.xml
!.idea/startup.xml
!.idea/vcs.xml
!.idea/codeStyles
!.idea/codeStyles/**
!.idea/copyright
!.idea/copyright/**
!.idea/dictionaries
!.idea/dictionaries/**
!.idea/runConfigurations
!.idea/runConfigurations/**
