build/dependencies/.gradle
build/dependencies/build
/android
/config
/system
.idea/workspace.xml
/out
.DS_Store
/test-system
/test-config
.jps-build-data
*.pyc
.idea/libraries/Gradle__*.xml
.idea/gradle_extensions.xml
edu/dependencies/build
edu/dependencies/.gradle
platform/on-air-index/resources