<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <appender name="console" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.out"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%-5p %c{1} - %m%n"/>
    </layout>
  </appender>

  <logger name="org.meanbean.factories.util.BasicFactoryLookupStrategy">
    <level value="error"/>
  </logger>

  <root>
    <level value="OFF"/>

    <appender-ref ref="console"/>
  </root>

</log4j:configuration>
