<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string></string>
	<key>contactName</key>
	<string>Sargun Vohra &amp; IvoNet.nl</string>
	<key>description</key>
	<string>A programming language developed by JetBrains for the JVM.</string>
	<key>name</key>
	<string>Kotlin</string>
	<key>uuid</key>
	<string>778B350C-91E6-4E3C-81F5-71BA94DB70B8</string>
</dict>
</plist>
