fun checkEquals(expected: Int, actual: Int, message: String) {
    if (expected != actual) {
        println(message)
    }
}

fun usage() {
    checkEquals(<spot>24, 42, "Consistency check failed"</spot>)
}