[graph]
targets = []

[advisories]
version = 2
ignore = []

[licenses]
version = 2
confidence-threshold = 0.95
allow = ["MIT", "Apache-2.0"]
exceptions = [
    { allow = ["Unicode-DFS-2016"], crate = "unicode-ident" }, # 'serde' dependency
    { allow = ["ISC"], crate = "libloading" },
]
unused-allowed-license = "deny"

# allows using our own unpublished packages
[licenses.private]
ignore = true
registries = []

[bans]
multiple-versions = "deny"
wildcards = "deny"
highlight = "all"
allow = []
deny = []
skip = []
skip-tree = [
    { name = "windows-sys", version = "0.45.0" }, # 'jni' seems to stuck
    { name = "curl" }, # build-time dependency
    { name = "native-dialog" }, # false positives in macOS-specific subtree
]

[sources]
unknown-registry = "deny"
unknown-git = "deny"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
allow-git = []
