public class X {
  void f() {
    String[] array = new String[]{"foo", "bar", "baz"};
    for (int i = 0; i < array.length; i++) {
       String content = array[i];
       System.out.println(content);
    }
  }
}