body {
    /*background: #ffffff;*/
    margin-left: 10px;
    margin-right: 2px;
    margin-bottom: 6px;
}
h1, p, ul {
   font-family: 'MS Reference Sans Serif', verdana, arial, sans-serif;
}
.code, .code_emphasis, .code_keyword, pre, .shortcut {
    font-family: 'Lucida Console', monospace;
}
h1, p, pre, ul {
    /*font-size: 10px;*/
    /*color: #3f3f3f;*/
}
p, ul {
    margin-top: 6px;
}
h1, p, ul {
    margin-bottom: 0;
}
ul {
    margin-left: 0;
    padding-left: 14px;
}
h1, .image, pre {
    margin-top: 10px;
}
.image, pre {
    margin-bottom: 2px;
}
pre {
    margin-right: 6px;
    border-style: solid;
    border-width: 1px;
    border-color: #d0d0d0;
    background-color: #fbfbfb;
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
}
.control, h1 {
    font-weight: bold;
}
.control {
    color: #808080;
}
.caret, .code_emphasis, .code_keyword, .emphasis, .shortcut {
    color: #990000;
}
pre .keyword{
    color: #000080;
}
h1 .product {
    color: #264db5;
}
h1 .version {
    color: #f58220;
}