public java.lang.String toString() {
final java.lang.StringBuffer sb = new java.lang.StringBuffer("$classname{");
#set ($i = 0)
#foreach ($member in $members)
#if ($i == 0)
sb.append("##
#else
sb.append(", ##
#end
#if ($member.string)
$member.name='")##
#else
$member.name=")##
#end
#if ($member.primitiveArray)
;
if ($member.name == null) ##
sb.append("null");
else {
sb.append('[');
for (int i = 0; i < $member.name .length; ++i)
sb.append(i == 0 ? "" : ", ").append($member.name [i]);
sb.append(']');
}
#elseif ($member.objectArray)
.append($member.name == null ? "null" : java.util.Arrays.asList($member.name).toString());
#elseif ($member.string)
.append($member.accessor).append('\'');
#else
.append($member.accessor);
#end
#set ($i = $i + 1)
#end
sb.append('}');
return sb.toString();
}