public String toString() {
final StringBuilder sb = new StringBuilder();
sb.append("$classname");
#set ($i = 0)
#foreach ($member in $members)
#if (!$member.modifierStatic)
#if ($i == 0)
sb.append("{##
#else
sb.append(", ##
#end
#if ($member.string)
$member.name='")##
#else
$member.name=")##
#end
#if ($member.primitiveArray)
.append($member.name == null ? "null" : "");
for (int i = 0; $member.name != null && i < $member.name .length; ++i)
    sb.append(i == 0 ? "" : ", ").append($member.name[i]);
#elseif ($member.objectArray)
.append($member.name == null ? "null" : Arrays.asList($member.name).toString());
#elseif ($member.string)
.append($member.accessor).append('\'');
#else
.append($member.accessor);
#end
#set ($i = $i + 1)
#end
#end
#if ($members.size() == 0)
sb.append("{}");
#else
sb.append('}');
#end
return sb.toString();
}