import java.text.*;
import java.util.Date;

class X {
  private static final ThreadLocal<DateFormat> DATE_FORMAT =
      ThreadLocal.withInitial(() -> new SimpleDateFormat("EEE, dd MMM yyyy HH:mm:ss z"));

  public String getDateString() {
    return dateFormat.get().format(new Date());
  }
}