public java.lang.String toString() {
   return new org.apache.commons.lang3.builder.ToStringBuilder(this)
#foreach ($member in $members)
   .append("$member.name", $member.accessor)
#end
   .toString();
}