public java.lang.String toString() {
#if ( $members.size() > 0 )
#set ( $i = 0 )
    return "$classname{" +
#foreach( $member in $members )
#if ( $i == 0 )
    "##
#else
    ", ##
#end
#if ( $member.objectArray )
#if ($java_version < 5)
$member.name=" + ($member.accessor == null ? null : java.util.Arrays.asList($member.accessor)) +
#else
$member.name=" + java.util.Arrays.toString($member.accessor) +
#end
#elseif ( $member.primitiveArray && $java_version >= 5)
$member.name=" + java.util.Arrays.toString($member.accessor) +
#elseif ( $member.string )
$member.name='" + $member.accessor + '\'' +
#else
$member.name=" + $member.accessor +
#end
#set ( $i = $i + 1 )
#end
   #if ( $class.hasSuper && !$helper.isAbstractSuperMethod($class, "toString", $project) )
   "} " + super.toString();
   #else
   '}';
   #end
#else
   #if ( $class.hasSuper && !$helper.isAbstractSuperMethod($class, "toString", $project))
   return "$classname{} " + super.toString();
   #else
   return "$classname{}";
   #end
#end
}