import java.io.*;

public class X {
  void f() {
    try {
      FileInputStream in = new FileInputStream("in");
      try {
        FileOutputStream out = new FileOutputStream("out");
        try {
          doSomethingWithStreams(in, out);
        } finally {
          out.close();
        }
      } finally {
        in.close();
      }
    } catch (IOException e) {}
  }
}