
.scroll-bar{
 -fx-background-color: #3c3f41;
 -fx-background-radius: 2em;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
 -fx-background-color: #3c3f41;
 -fx-border-color:transparent;
 -fx-background-radius: 2em;
}
.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
 -fx-background-color: #3c3f41;
}
.scroll-bar:horizontal .thumb {
 -fx-background-color: #bbbbbb;
 -fx-background-insets: 4 0 4 0;
 -fx-background-radius: 2em;
 -fx-opacity: 0.2;
}
.scroll-bar:vertical .thumb {
 -fx-background-color: #bbbbbb;
 -fx-background-insets: 0 4 0 4;
 -fx-background-radius: 2em;
 -fx-opacity: 0.2;
}


.scroll-bar:vertical:corner-present {
-fx-shape: " ";
-fx-width: 0;
}

.scroll-bar:horizontal:corner-present {
-fx-shape: " ";
-fx-width: 0;
}

.scroll-bar-corner {
-fx-background-color: #3c3f41;
}
.scroll-bar:horizontal .increment-arrow {
 -fx-shape: " "
}
.scroll-bar:vertical .increment-arrow {
 -fx-shape: " "
}
.scroll-bar:horizontal .decrement-arrow {
 -fx-shape: " "
}
.scroll-bar:vertical .decrement-arrow {
 -fx-shape: " "
}


