::-webkit-scrollbar-corner {
background-color: #3c3f41;
}

body {
    background-color: #3c3f41;
    color: #bababa
}

p img {
    background-color: #bababa;
}

textarea {
background-color: #3c3f41;
color: #bababa
}

a {
    color: #589df6;
    text-decoration: none;
    position: relative;
}

a:after {
    content: '';

    width: 100%;
    position: absolute;
    left: 0;
    bottom: 1px;

    border-width: 0 0 1px;
    border-style: solid;
}

tr {
    text-align: left
}

.example {
    background-color: #4f5254;
}