public class X {
  void f() {
    String[] array = new String[]{"foo", "bar", "baz"};
    for (int i = 0, arrayLength = array.length; i < arrayLength; i++) {
       String content = array[i];
       System.out.println(content);
    }
  }
}