# Example: non-public members must be lower-case
[*.{cs,vb}]
dotnet_naming_rule.my_r<caret>ule.severity = warning
dotnet_naming_rule.my_rule.symbols = non_public_symbols
dotnet_naming_rule.my_rule.style = all_lower_case_style

dotnet_naming_symbols.non_public_symbols.applicable_kinds = property, method, field, event, delegate
dotnet_naming_symbols.non_public_symbols.required_modifiers = private

dotnet_naming_style.all_lower_case_style.capitalization = all_lower
