.radio-button {
    -fx-text-fill: #bababa;
}

.radio-button:selected .radio {
    -fx-border-radius: 15px;
    -fx-padding: 5px;
    -fx-background-color: #4f5254;
    -fx-border-color: #589df6;
}

.radio-button .radio {
    -fx-border-radius: 15px;
    -fx-padding: 5px;
    -fx-background-color: #4f5254;
    -fx-border-color: #323232;
}

.radio-button:selected .dot {
    -fx-background-color: #bababa;
}

.toggle-button:selected {
    -fx-background-color: #3c3f41;
    -fx-background-insets: 0 0 0 0, 0, 0;
}
.toggle-button:selected:focused {
    -fx-background-color: #3c3f41;
    -fx-background-insets: 1, 1, 1, 1;
    -fx-background-radius: 2, 2, 2, 2;
}

.radio-button .dot {
    -fx-background-radius: 15px;
    -fx-padding: 4px;
    -fx-background-color: transparent;
}

.check-box {
    -fx-text-fill: #bababa;
}

.check-box .box {
    -fx-background-color: #4f5254;
    
    /*-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;*/
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 2, 2, 1, 1;
    -fx-padding: 0.25em; /* 3 -- padding from the outside edge to the mark */
}

.check-box .mark {
    -fx-background-color: transparent;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.333333em; /* 4 -- this is half the size of the mark */
    -fx-shape: "M14.596,2.055L12.455,0C9.687,2.884,6.011,6.714,5.158,7.602L2.055,4.624L0,6.765l5.242,5.037l0.003-0.004 l0.003,0.004L14.596,2.055z";
}

.check-box:selected .mark {
    -fx-background-color: #bababa;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.333333em; /* 4 -- this is half the size of the mark */
    -fx-shape: "M14.596,2.055L12.455,0C9.687,2.884,6.011,6.714,5.158,7.602L2.055,4.624L0,6.765l5.242,5.037l0.003-0.004 l0.003,0.004L14.596,2.055z";
}