.example {
    background-color: #c4c4c4;
}

a {
    text-decoration: none;
    position: relative;
}

a:after {
    content: '';

    width: 100%;
    position: absolute;
    left: 0;
    bottom: 1px;

    border-width: 0 0 1px;
    border-style: solid;
}