<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>ReSharper: The Most Intelligent Add-In To VisualStudio .NET</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" media="screen" href="../css/main.css"/>
<link rel="stylesheet" type="text/css" media="screen" href="../css/resharper.css"/>
<link rel="stylesheet" type="text/css" media="print" href="../css/print.css"/>
<link rel="Shortcut Icon" href="../favicon.ico" type="image/x-icon"/>

</head>

<body class="resharperbg">
<div id="container">

   <div id="top">
       <div id="logo"><a href="../index.html"><img src="../img/logo_bw.gif" width="124" height="44" alt="JetBrains home"/></a></div>

        <div id="nav">
            <ul id="topnav">
                <li class="home"><a href="../index.html">Home</a></li>
                <li class="act"><a href="../products.html">Products</a></li>
                <li><a href="../support">Support</a></li>
				<li><a href="../devnet">Developers</a></li>
                <li><a href="../company">Company</a></li>
            </ul>
        </div>
    </div>

    <div id="bannerre"><h2>ReSharper</h2></div>

    <div id="bc"><a href="../index.html">Home</a><img src="../img/bc.gif" alt=">"/><a href="../products.html">Products</a><img src="../img/bc.gif" alt=">"/>ReSharper</div>
    <div id="subcontent">
        <a class="nol" href="buy/specials"><img src="../img/banners/rsb4.gif" alt=""/></a>
    <br/>
    	<div id="whatsnew_res"><h4>License Lottery</h4></div>
            <div id="wnew">
            <p><b>Participate and win</b> <br/>
            <a href="survey.html">free ReSharper license</a>
            </p>
            </div>

        <br/>

        <div id="greybox">
      		<h4>Keep Me Informed</h4>
      		<p>Subscribe to JetBrains product news and documentation updates</p>

      		<form name="subscribe" action="http://www.jetbrains.com/forms/subscribe" method="post">
                        name:
        		<div>
        			<input size="18" class="text" name="name"/>
        		</div>
        		e-mail:
        		<div>
        			<input size="18" class="text" name="email"/>
        		</div>
        		<a href="javascript: document.forms.subscribe.submit();"><img src="../img/button_subscribe.gif" width="140" height="26" alt="subscribe"/></a>
      		</form>
    	</div>
    	<div id="quote">
                <p class="text">&quot;Resharper has been making its way through my team like a virus. I've been using it for a couple of months now, and I think I can say I'm sold.&quot;</p>
                <p class="author"><a target="" href="http://hyperthink.net/blog/PermaLink,guid,c84fb408-a764-48f4-870e-498191031c89.aspx">Steve Maine</a>, <br/>Solutions developer,<br/> Avanade</p>
        </div>
        <p class="spacer"></p>

        <div id="quote">
                <p class="text">&quot;Incidentally, if you want excellent refactoring support for C# in Visual Studio.Net
                today, check out JetBrains' super ReSharper tool. It supports renaming, extracting methods, turning fields
                into properties, encapsulating code with if or while constructs, templates and much more!&quot;</p>
                <p class="author"><a target="" href="http://dotnetjunkies.net/WebLog/roydictus/archive/2004/11/16/32279.aspx">Roy Dictus</a>, <br/>Architect and Trainer,<br/> U2U, Belgium's leading .Net Competence Center</p>
        </div>
        <p class="spacer"></p>

        <div id="quote">
                <p class="text">&quot;If you are a C# developer you simply owe it to yourself to get this tool. It has
                dramatically made my life better (SERIOUSLY!). I put it up there with amazing tools…&quot;</p>
                <p class="author"><a target="" href="http://agiledamon.blogspot.com/2004/09/my-latest-net-developers-best-friend.html">Damon Wilder Carr</a>, <br/>Chief Technologist and CEO,<br/> Agilerfactor</p>
        </div>
        <p class="spacer"></p>

         <div>
             <a class="nol" title="opens in a new window" href="http://www.adtmag.com/article.asp?id=9843" target="blank">
             <img src="../img/logos/logo_adt.gif" alt="ADT Magazine reviews ReSharper" width="100" height="32"/></a>
             <p class="aw"><a title="opens in a new window" href="http://www.adtmag.com/article.asp?id=9843" target="blank">ADT Magazine reviews ReSharper 1.0.1</a></p>
             <br/>
             <a class="nol" title="opens in a new window" href="http://www.sdtimes.com/news/101/story11.htm" target="blank"><img src="../img/logos/logo_sd_times.gif" width="90" height="33" alt="SD Times reviews ReSharper"/></a>
             <p class="aw"><a title="opens in a new window" href="http://www.sdtimes.com/news/101/story11.htm" target="blank">&quot;Another IDEA: JetBrains to Launch C#, RAD Tools&quot;</a></p>
         </div>

    </div>

    <div id="content">
        <h1>The Most Intelligent Add-In To VisualStudio.NET</h1>
        <div id="product">
            <div id="firstcol">
            <p style="margin-bottom:3.5em; margin-top:0.5em;"><img src="../img/resharper1.gif" width="266" height="45" alt="ReSharper 1.0"/></p>
            </div>
            <div id="secondcol">
                <p class="moredownload"><a href="download/index.html" title="Download IntelliJ IDEA Java IDE"><b>download</b></a></p>
                <p class="morebuy"><a href="buy/index.html" title="Buy IntelliJ IDEA Java IDE"><b>buy</b></a></p>
            </div>
        </div>
        <div class="clear"></div>
        <hr class="hide"/>
        <div id="overview">
			<p class="bigtext">ReSharper was created with the single purpose in mind: to increase the productivity of
            C# developers. It comes equipped with a rich set of features, such as intelligent coding assistance, on-the-fly
            error highlighting and quick error correction, unmatched support for code refactoring, and a whole lot more.
            ReSharper's tight integration with Visual Studio .NET provides quick and easy access to all of its advanced
            features right from the IDE.</p>
            <p class="more"><a class="nol" href="documentation/1.0_DataSheet.pdf" target="blank"><img src="../img/icon_pdf.gif" width="16" height="16" alt="PDF"/></a>&nbsp; <a href="documentation/1.0_DataSheet.pdf" target="blank">ReSharper Data Sheet</a> <span class="number">(111 Kb)</span></p>
            <p class="more"><a class="nol" href="documentation/1.0_ReferenceCard.pdf" target="blank"><img src="../img/icon_pdf.gif" width="16" height="16" alt="PDF"/></a>&nbsp; <a href="documentation/1.0_ReferenceCard.pdf" target="blank">ReSharper 1.0 Default Keymap</a> <span class="number">(44 Kb)</span></p>
            <br/>

            <h3>ReSharper Key Features</h3>
            <br/>
            <div class="feature">
                <h3>Refactoring Support</h3>
                <p>Refactoring can significantly improve your code design and efficiency. ReSharper's automated refactoring
                support takes care of code consistency and compilability after even the most dramatic modifications.</p>
                <p>ReSharper supports the following types of refactoring:</p>
                <p><a href="features/refactoring.html">More about this feature…</a></p>
            </div>

            <p>To get the full story on ReSharper&#146;s feature set, please visit the <a href="features/index.html">Features</a> page.</p>

            <h3>Why ReSharper</h3>
            <p>ReSharper makes C# development a real pleasure. It decreases the time you spend on routine,  repetitive
            handwork, giving you more time to focus on the task at hand. Its robust set of features for automatic error-checking
            and code correction cuts development time and increases  your  efficiency.  You'll find that ReSharper quickly
            pays back it's cost in increased developer productivity and improved code quality.</p>
            <p>The wait is over… ReSharper is here and now C# developers can experience what we mean when we say
            "Develop with pleasure!" <a href="download">Download a copy today</a>!</p>
        </div>

    </div>
</div>
    <hr class="hide"/>
    <div class="clear"></div>
<div id="fcontainer">
    <div id="footer">
    <div id="copy">Copyright &copy; 2000-2004 JetBrains. All rights reserved</div>
    <div id="mail">Comments? Write to <a href="mailto:webmaster@jetbrains.com">webmaster@jetbrains.com</a></div>
    </div>
</div>

</body>
</html>