import sys
import math

class CodeFormatDemo:
    a_const = 10000
    b_const = 500
    <select>def calc_and_print(self):
        print(self.a_const * self.b_const)</select>
    def calc_many_times(self):
        for i in range(100):
            self.calc_and_print()