import random


class Cat:
    happiness = math.exp(3)

    def say_meow(self):
        print("meow")

    def eat(self):
        self.happiness += random.randint(5, 20)


cat = Cat()
cat.say_meow("meow")
cat.eat()
