import random


class Cat:
    happiness = math.exp(3)

    def meow(self, words):
        for word in words:
            print(word)

    def eat(self):
        self.happiness += random.randint(5, 20)


cat = Cat()
cat.eat()
words = ("I'm", "very", "happy")
if cat.happiness < 30:
    words[1] = "not"
cat.meow(words)
