
def print_three_times(value):
    """
    Prints given value three times
    """
    for i in range(0, 3):
        print(str(value))
        
        
<caret>print_three_times(123)
print_three_times(1)
print_three_times('Hello!')