pytest==4.6.11
teamcity-messages==1.33
ipython==5.10.0
Django==1.11.29
behave==1.2.6
Jinja2==2.11.3
nose==1.3.7
django-nose==1.4.7
behave-django==1.4.0
pytest-xdist==1.34.0
untangle==1.1.1
pandas==0.24.2
py==1.11.0

atomicwrites==1.4.1
attrs==21.4.0
backports.functools-lru-cache==1.6.6
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.9.3
configparser==4.0.2
contextlib2==0.6.0.post1
decorator==4.4.2
enum34==1.1.10
execnet==1.9.0
funcsigs==1.0.2
importlib-metadata==2.1.3
ipython-genutils==0.2.0
linecache2==1.0.0
MarkupSafe==1.1.1
more-itertools==5.0.0
numpy==1.16.6
packaging==20.9
parse==1.20.2
parse-type==0.6.4
pathlib2==2.3.7.post1
pexpect==4.9.0
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==1.0.18
ptyprocess==0.7.0
Pygments==2.5.2
pyparsing==2.4.7
PySide2==5.15.2.1
pytest-forked==1.3.0
python-dateutil==2.9.0.post0
pytz==2025.1
scandir==1.10.0
shiboken2==5.15.2.1
simplegeneric==0.8.1
six==1.17.0
soupsieve==1.9.6
traceback2==1.4.0
traitlets==4.3.3
typing==3.10.0.0
wcwidth==0.2.13
zipp==1.2.0