pytest
teamcity-messages
ipython
Django
behave
Jinja2
nose
django-nose
behave-django
pytest-xdist
untangle
pandas
py

asgiref
asttokens
beautifulsoup4
colorama
cucumber-expressions
cucumber-tag-expressions
decorator
defusedxml
exceptiongroup
execnet
executing
iniconfig
jedi
MarkupSafe
matplotlib-inline
numpy
packaging
parse
parse_type
parso
pexpect
pluggy
prompt_toolkit
ptyprocess
pure_eval
Pygments

python-dateutil
pytz
six
soupsieve
sqlparse
stack-data
tomli
traitlets
typing_extensions
tzdata
wcwidth