body {
  font-family: Arial, sans-serif;
  margin: 0;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  width: 80%;
}

table.activity-table {
  width: 100%;
}

table.metrics-table {
  width: auto;
}

.red-text {
  color: red;
}

table.narrow-activity-table {
  width: 80%;
}

table.two-columns td {
  width: 50%;
}

th, td {
  padding: 3px;
}

th {
  background: lightgrey;
}

td {
  white-space: pre-wrap;
  word-break: break-word;
}

.stats-content {
  margin-left: 20%;
}

.stats-activity-content {
  margin-left: 20%;
  margin-right: 5%;
}

.aggregate-report-content {
  margin-left: 10%;
}

.aggregate-activity-report-content {
  margin-left: 10%;
  margin-right: 10%;
}

.aggregate-header {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 0;
}

.table-with-margin{
  margin-top: 1em;
  margin-bottom: 2em;
}

.navigation-bar {
  width: 15%;
  background-color: lightgrey;
  position: fixed;
  height: 100%;
}

div.navigation-bar ul {
  list-style-type: none;
  overflow: auto;
  margin: 0;
  padding: 0;
  font-size: 24px;
}

div.navigation-bar ul li a, label {
  display: block;
  color: #000;
  padding: 8px 20px;
  text-decoration: none;
}

label input {
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

div.navigation-bar ul li a:hover {
  background-color: #555;
  color: white;
}

.minor-data {}

.invisible {
  display: none;
}

.jetbrains-logo {
  width: 50%;
  bottom: 5%;
  position: absolute;
  left: 20%;
}

.centered-text {
  text-align: center;
}

.linkable-table-row:hover {
  background: #f2f3ff;
  outline: none;
  cursor: pointer;
}

.scanning-table-row {
  background-color: aliceblue;
}

.not-applicable-data{
  color: darkgrey;
}