<dependencies>
  <dependency>
    <groupId>org.example.groupId</groupId>
    <artifactId>example-artifact</artifactId>
    <version>1.0</version>
    <scope>system</scope>
    <systemPath>/path/to/example-artifact.jar</systemPath>
  </dependency>
</dependencies>