
const val A_CONST = 10000
const val B_CONST = 500

  <select>fun calc() { Processor.process(A_CONST, B_CONST) }</select>

class Processor{
    companion
    object {
        fun process(a: Int, b: Int): Int { return a * b + A_CONST
        }
    }
}

