import java.text.DecimalFormat

fun main() {
    <caret>customFormat("###,###.###", 123456.789)
    customFormat("###.##", 123456.789)
    customFormat("000000.000", 123.78)
    customFormat("$###,###.###", 12345.67)
}

/**
 * Prints a double value formatted according to a given pattern.
 */
fun customFormat(pattern: String, value: Double) {
    val myFormatter = DecimalFormat(pattern);
    val output = myFormatter.format(value);
    System.out.println("$value  $pattern  $output");
}