class A extends Exception {}
class B extends A {}
class C extends A {}

class Test {
  public static void main(String[] args) {
    try {
      throw new A();
    } catch (<spot>A</spot> e) {
    } catch (C e) {
    }
  }
}