<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleName</key>
    <string>XPlat Launcher</string>
    <key>CFBundleIdentifier</key>
    <string>com.jetbrains.xplat-launcher</string>
    <key>CFBundleVersion</key>
    <string>0.0.1-TEST</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>xplat-launcher</string>
  </dict>
</plist>
