// Copyright 2000-2022 JetBrains s.r.o. and contributors. Use of this source code is governed by the Apache 2.0 license that can be found in the LICENSE file.

#define VERSION      1,0,0,@BUILD_NUMBER@
#define VERSION_STR  "1.0.0.@BUILD_NUMBER@\0"
#define FILE_NAME    "@FILE_NAME@.exe"
#define COPYRIGHT    "Copyright 2000-@YEAR@ JetBrains s.r.o."

#pragma code_page(65001) // UTF-8

1 VERSIONINFO
  FILEVERSION       VERSION
  PRODUCTVERSION    VERSION
  FILEFLAGSMASK     0x3fL
#ifdef _DEBUG
  FILEFLAGS         0x1L
#else
  FILEFLAGS         0x0L
#endif
  FILEOS            0x4L // VOS_WINDOWS32
  FILETYPE          0x1L // VFT_APP
  FILESUBTYPE       0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "0000fde9"
    BEGIN
      VALUE "CompanyName", "JetBrains s.r.o."
      VALUE "FileDescription", "Windows Process List Helper utility"
      VALUE "FileVersion", VERSION_STR
      VALUE "InternalName", FILE_NAME
      VALUE "LegalCopyright", COPYRIGHT
      VALUE "OriginalFilename", FILE_NAME
      VALUE "ProductName", "IntelliJ Platform"
      VALUE "ProductVersion", VERSION_STR
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0, 0xfde9
  END
END
