<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG Suite">
  <test name="TestNG Intentoins Test">
    <classes>
      <class name="com.theoryinpractice.testng.inspections.ConvertAnnotationInspectionTest"/>
      <class name="com.theoryinpractice.testng.inspections.ConvertJavadocInspectionTest"/>
      <class name="com.theoryinpractice.testng.inspections.ConvertJUnitInspectionTest"/>
      <class name="com.theoryinpractice.testng.inspections.ConvertOldAnnotationInspectionTest"/>
      <class name="com.theoryinpractice.testng.configuration.ConfigurationsTest"/>
    </classes>
  </test>
</suite>
