[Desktop Entry]
Encoding=UTF-8
Name=Intellij Idea
GenericName=Intellij Idea
Comment=Starts intellij idea
Exec=/usr/bin/idea
Icon=/opt/jetbrains/idea/bin/idea32.png
Terminal=false
Type=Application
Categories=GTK;GNOME;Development;
