import java.io.*;

public class X {
  void f(File file1, File file2) throws FileNotFoundException {
    <spot>try</spot> (FileInputStream in = new FileInputStream(file1)) {
      try (FileOutputStream out = new FileOutputStream(file2)) {
        // do something
      }
    }
  }
}