public java.lang.String toString() {
#if ( $members.size() > 0 )
#set ( $i = 0 )
    return """\
$classname{
#foreach( $member in $members )
#if ( $i > 0 ), 
#end
#set($d = "$")
#if ( $member.objectArray )
    $member.name=${d}{java.util.Arrays.toString($member.accessor)}## 
#elseif ( $member.primitiveArray)
    $member.name=${d}{java.util.Arrays.toString($member.accessor)}##
#elseif ( $member.string )
    $member.name='$d$member.accessor'##
#else
    $member.name=$d${member.accessor}##
#end
#set ( $i = $i + 1 )
#end

}"""
#else
    return "$classname{}"
#end
}