public java.lang.String toString() {
return new java.util.StringJoiner(", ", $classname##
.class.getSimpleName() + "[", "]")
#foreach ($member in $members)
#if(!$member.modifierStatic)
.add("$member.name=##
#if ($member.primitiveArray || $member.objectArray)
" + java.util.Arrays.toString($member.name)##
#elseif ($member.string)
'" + $member.accessor + "'"##   
#else
" + $member.accessor ##
#end
)
#end
#end
.toString();
}