<component name="libraryTable">
  <library name="Log4J" type="repository">
    <properties maven-id="org.jetbrains.intellij.deps:log4j:1.2.17.2" />
    <CLASSES>
      <root url="jar://$MAVEN_REPOSITORY$/org/jetbrains/intellij/deps/log4j/1.2.17.2/log4j-1.2.17.2.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>
