<component name="libraryTable">
  <library name="TestNG" type="repository">
    <properties maven-id="org.testng:testng:7.8.0">
      <verification>
        <artifact url="file://$MAVEN_REPOSITORY$/org/testng/testng/7.8.0/testng-7.8.0.jar">
          <sha256sum>dbbc43e2c64623661c3537f9d74061eb6c8fc3e5b4376f31fadb16de2b200f88</sha256sum>
        </artifact>
        <artifact url="file://$MAVEN_REPOSITORY$/com/beust/jcommander/1.82/jcommander-1.82.jar">
          <sha256sum>deeac157c8de6822878d85d0c7bc8467a19cc8484d37788f7804f039dde280b1</sha256sum>
        </artifact>
        <artifact url="file://$MAVEN_REPOSITORY$/org/webjars/jquery/3.6.1/jquery-3.6.1.jar">
          <sha256sum>da2381fbee4799631ba44d1f4d6487b886b22450c7fc85842c5fdfa03429b817</sha256sum>
        </artifact>
      </verification>
      <exclude>
        <dependency maven-id="com.google.guava:guava" />
        <dependency maven-id="org.yaml:snakeyaml" />
        <dependency maven-id="org.slf4j:slf4j-api" />
      </exclude>
    </properties>
    <CLASSES>
      <root url="jar://$MAVEN_REPOSITORY$/org/testng/testng/7.8.0/testng-7.8.0.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/com/beust/jcommander/1.82/jcommander-1.82.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/webjars/jquery/3.6.1/jquery-3.6.1.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$MAVEN_REPOSITORY$/org/testng/testng/7.8.0/testng-7.8.0-sources.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/com/beust/jcommander/1.82/jcommander-1.82-sources.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/webjars/jquery/3.6.1/jquery-3.6.1-sources.jar!/" />
    </SOURCES>
  </library>
</component>