<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Git Suite">
  <test name="Git Test">
    <packages>
      <package name="git4idea.branch"/>
      <package name="git4idea.history"/>
      <package name="git4idea.repo"/>
      <package name="git4idea.validators"/>

      <package name="git4idea.tests"/>
      <package name="git4idea.tests.rebase"/>
    </packages>
  </test>
</suite>
