<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite>
  <test name="GitBranchTest">
    <classes>
      <class name="git4idea.tests.GitBranchTest"/>
      <class name="git4idea.tests.GitChangeProviderTest"/>
      <class name="git4idea.tests.GitMergeTest"/>
      <class name="git4idea.tests.GitLineSeparatorsConverterTest"/>
      <class name="git4idea.tests.GitHistoryUtilsTest"/>
      <class name="git4idea.tests.ChangeListManagerUpdateOnFileChangeTest"/>
    </classes>
  </test>
</suite>