fun checkEquals(expected: Int, actual: Int, message: String) {
    if (expected != actual) {
        println(message)
    }
}

fun usage() {
    <spot>checkEquals(24, <spot>42, "Consistency check failed"</spot>)
}