class MoveDemo extends Thread {

    boolean started = false;

    private void printDebugMessage() {
        System.out.println("Hello from a thread!");
    }

    public void run() {
        <caret>started = true;
        printDebugMessage();
    }

    public static void main(String args[]) {
       (new MoveDemo()).start();
    }
}