import groovy.transform.CompileStatic

@CompileStatic
class Foo {
    <spot>String strField = "str"</spot>

    def bar() {
        strField.toUpperCase()
        <spot>def list = list()
        baz(list[0] as String, list[1] as int)</spot>
    }

    def baz(String a, int b) {}

    List list() {null}
}