import groovy.transform.CompileStatic

@CompileStatic
class Foo {
    <spot>def strField = "str"</spot>
    
    def bar() {
        strField.toUpperCase()
        <spot>baz(*list())</spot>
    }
    
    def baz(String a, int b) {}
    
    List list() {null}
}