[Desktop Entry]
Version=1.0
Type=Application
Name=$NAME$
Exec="$SCRIPT$" %f
Icon=$ICON$
Comment=Develop with pleasure!
Categories=Development;IDE;
Terminal=false
StartupNotify=true
StartupWMClass=$WM_CLASS$
