[Desktop Entry]
Version=1.0
Type=Application
Name=$NAME$
Icon=$ICON$
Exec=$SCRIPT$ %f
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=$WM_CLASS$
