public class X {
  int f(int a) {
    <spot>if</spot> (a == 0) {
      System.out.println("1");
    }else{
      System.out.println("2");
    }
    if (a == 0) {
      return 2;
    }
    else {
      return 18;
    }
  }
}