import java.sql.*;

public class Test {
    public void runScript(Statement st) throws SQLException {
        st.execute("create table some_table (id integer primary key)");
        st.execute("insert into some_table values(1)");
        st.execute("<spot>select * from some_table</spot>");
        st.execute("drop table some_table");
    }
}