
import java.util.Optional;
import java.util.stream.Stream;

public class X {
    Optional<String> foo(Stream<String> stream) {
        return stream.filter(<spot>name -> name.startsWith("A") && name.length() > 1</spot>).findFirst();
    }
}