class Foo {
  private String firstName;
  <spot>private</spot> Foo(String firstName) {
    this.firstName = firstName;
  }

  static Foo createFoo(String firstName) {
    return new Foo(firstName);
  }

  public static void main(String[] args) {
    Foo joe = <spot>createFoo("Joe")</spot>;
  }
}