fun test(direction: Direction) {
    when (direction) {
        Direction.NORTH -> TODO()
        Direction.EAST -> TODO()
        Direction.SOUTH -> TODO()
        Direction.WEST -> TODO()
    }
}

enum class Direction {
    NORTH, EAST, SOUTH, WEST
}