<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>zfurrgf@juvgrsnyyf.bet</string>
	<key>contactName</key>
	<string>Michael Sheets</string>
	<key>description</key>
	<string>Tom's Obvious, Minimal Language: A minimal configuration file format that's easy to read due to obvious semantics.</string>
	<key>name</key>
	<string>TOML</string>
	<key>uuid</key>
	<string>13A041AB-28AA-4170-8DCE-912B90E11C35</string>
</dict>
</plist>
