enum class Direction {
    NORTH, EAST, SOUTH, WEST
}

fun usage(direction: Direction): Int {
    return when (direction) {
        <spot>Direction.NORTH -> 1
        Direction.EAST -> 2
        Direction.SOUTH -> 3
        Direction.WEST -> 4
        else -> 0</spot>
    }
}