#parse("equalsHelper.vm")
public boolean equals(##
#if ($settings.generateFinalParameters)
  final ##
#end
Object $paramName){
  if(this == $paramName) return true;

  #addInstanceOfToText()

  #addClassInstance()

  return new org.apache.commons.lang3.builder.EqualsBuilder()
  #if($superHasEquals)
    .appendSuper(super.equals($paramName))
  #end
  #foreach($field in $fields)
    .append($field.accessor, ${classInstanceName}.$field.accessor)
  #end
    .isEquals();
}