public int hashCode() {
  return new org.apache.commons.lang.builder.HashCodeBuilder(17, 37)
  #if($superHasHashCode)
    .appendSuper(super.hashCode())
  #end
  #foreach($field in $fields)
    .append($field.accessor)
  #end
    .toHashCode();
}