#parse("equalsHelper.vm")
public boolean equals(##
#if ($settings.generateFinalParameters)
  final ##
#end
Object $paramName){
#addEqualsPrologue()
#if ($fields.size() > 0)

  #addClassInstance()

  #foreach($field in $fields)
    #if ($field.array)
      #addArrayEquals($field)
    #elseif ($field.primitive)
      #if ($field.double || $field.float)
        #addDoubleFieldComparison($field)
      #else 
        #addPrimitiveFieldComparison($field)
      #end
    #elseif ($field.enum)
      #addPrimitiveFieldComparison($field)
    #else
      #addFieldComparison($field)
    #end
  #end
#end

  return true;
}
##
#macro(addPrimitiveFieldComparison $field)
 if($field.accessor != ${classInstanceName}.$field.accessor) return false;
#end
##
#macro(addDoubleFieldComparison $field)
  #if ($field.double)
    if(Double.compare(${classInstanceName}.$field.accessor, $field.accessor) != 0)return false;
  #else
    if(Float.compare(${classInstanceName}.$field.accessor, $field.accessor) != 0)return false;
  #end
#end
##
#macro(addFieldComparison $field)
  #if ($field.notNull)
    if(!${field.accessor}.equals(${classInstanceName}.$field.accessor))return false;
  #else
    if($field.accessor != null ? !${field.accessor}.equals(${classInstanceName}.$field.accessor) : ${classInstanceName}.$field.accessor != null)return false;
  #end
#end
##
#macro(addArrayEquals $field) 
  #if ($field.nestedArray)
    #if ($java_version > 4)
      if(!java.util.Arrays.deepEquals($field.accessor, ${classInstanceName}.$field.accessor)) return false;
    #else
      // Compare nested arrays - values of $field.name here
    #end
    #break;
  #end
  #if ($field.objectArray)
    // Probably incorrect - comparing Object[] arrays with Arrays.equals
  #end
  if(!java.util.Arrays.equals($field.accessor, ${classInstanceName}.$field.accessor)) return false;
#end