#parse("equalsHelper.vm")
public boolean equals(##
#if ($settings.generateFinalParameters)
  final ##
#end
Object $paramName){
  #addEqualsPrologue()
  #addClassInstance()
  return ##
   #set($i = 0)
   #foreach($field in $members)
     #if ($i > 0)
     &&
     #end
     #set($i = $i + 1)
     #if ($field.array)
       #if ($field.nestedArray)
java.util.Arrays.deepEquals($field.name, ${classInstanceName}.$field.name)##
       #else
java.util.Arrays.equals($field.name, ${classInstanceName}.$field.name)##
       #end
     #else
com.google.common.base.Objects.equal($field.name, ${classInstanceName}.$field.name)##
     #end
   #end
  ;
}