#parse("equalsHelper.vm")
public boolean equals(##
#if ($settings.generateFinalParameters)
  final ##
#end
Object $paramName){
  #addEqualsPrologue()
  #addClassInstance()
  return ##
   #set($i = 0)
   #foreach($field in $fields)
     #if ($i > 0)
     &&
     #end
     #set($i = $i + 1)
     #if ($field.primitive)
         #if ($field.double || $field.float)
           #addDoubleFieldComparisonConditionDirect($field) ##
         #else
           #addPrimitiveFieldComparisonConditionDirect($field) ##
         #end
      #elseif ($field.enum)
         #addPrimitiveFieldComparisonConditionDirect($field) ##
      #else
com.google.common.base.Objects.equal($field.accessor, ${classInstanceName}.$field.accessor)##
     #end
   #end
  ;
}