public int hashCode() {
#if (!$superHasHashCode && $fields.size()==1 && $fields[0].array)
  return java.util.Arrays.hashCode($fields[0].accessor);
#else
  #set($hasArrays = false)
  #set($hasNoArrays = false)
  #foreach($field in $fields)
    #if ($field.array)
      #set($hasArrays = true)
    #else
      #set($hasNoArrays = true)
    #end
  #end
  #if (!$hasArrays)
    return java.util.Objects.hash(##
      #set($i = 0)
      #if($superHasHashCode)
       super.hashCode() ##
       #set($i = 1)
      #end
      #foreach($field in $fields)
        #if ($i > 0)
        , ##
        #end
        $field.accessor ##
        #set($i = $i + 1)
      #end
    );
  #else
    #set($resultName = $helper.getUniqueLocalVarName("result", $fields, $settings))
    #set($resultAssigned = false)
    #set($resultDeclarationCompleted = false)
    int $resultName ##
    #if($hasNoArrays)
      = java.util.Objects.hash(##
        #set($i = 0)
        #if($superHasHashCode)
         super.hashCode() ##
         #set($i = 1)
        #end
        #foreach($field in $fields)
          #if(!$field.array)
            #if ($i > 0)
            , ##
            #end
            $field.accessor ##
            #set($i = $i + 1)
          #end
        #end
      );
      #set($resultAssigned = true)
      #set($resultDeclarationCompleted = true)
    #elseif($superHasHashCode)
       = super.hashCode(); ##
      #set($resultAssigned = true)
      #set($resultDeclarationCompleted = true)
    #end
    #foreach($field in $fields)
      #if($field.array)
        #if ($resultDeclarationCompleted)
          $resultName ##
        #end
        = ##
        #if ($resultAssigned)
          31 * $resultName + ##
        #end
        java.util.Arrays.hashCode($field.accessor);
        #set($resultAssigned = true)
        #set($resultDeclarationCompleted = true)
      #end
    #end  
  return $resultName;
  #end
#end
}