public int hashCode() {
  return java.util.Objects.hash(##
    #set($i = 0)
    #if($superHasHashCode)
     super.hashCode() ##
     #set($i = 1)
    #end
    #foreach($member in $members)
      #if (!$member.static)
        #if ($i > 0)
        , ##
        #end
        $member.name ##
        #set($i = $i + 1)
      #end
    #end
  );
}