#parse("equalsHelper.vm")
public boolean equals(##
#if ($settings.generateFinalParameters)
  final ##
#end
Object $paramName){
  #addEqualsPrologue()
  #addClassInstance()
  return ##
   #set($i = 0)
   #foreach($field in $fields)
     #if ($i > 0)
     &&
     #end
     #set($i = $i + 1)
java.util.Objects.equals($field.accessor, ${classInstanceName}.$field.accessor)##
   #end
  ;
}