# vim: set ts=4 noet:

# This is SnipMate's syntax:

snippet trigger description of snippet
	# Not a comment
	${1}:
	while ${2} loop
		${0:${VISUAL}}
	end loop $1;


# And this is UltiSnips's:

snippet header "description of snippet"
<header>
	${1:header content}
</header>
endsnippet


# Finally, this is NeoSnippets:

snippet     function
abbr        func endfunc
alias       func
regexp      "^\s*"
options     head
    function! ${1:#:func_name}(${2}) abort
      ${0:TARGET}
    endfunction
