import java.util.*;

public class Test {
    <spot>private static final Set<String> FRUITS =
        new HashSet<>(Arrays.asList("Apple", "Pear", "Banana"))</spot>;

    boolean check(String fruit) {
        return <spot>FRUITS.contains(fruit)</spot>;
    }
}
