class X {
  void testSwitch(int x) {
    if(x >= 0 && x < 10 && x % 2 == 0) {
      <spot>switch(x) {
        case 0:
            break;
        case 2:
            break;
        case 4:
            break;
        case 6:
            break;
        case 8:
            break;
      }</spot>
    }
  }
}