class A {
  public int field;

  public int getField() {
      return field;
  }

  public void setField(int field) {
      this.field = field;
  }
}

class B {
  void method() {
    A a = new A();

    a.setField(0);
    int i = a.getField();
  }
}

