name: Edict2

on:
  workflow_dispatch:
  push:
    branches:
      - master
jobs:
  qodana:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      checks: write
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: registry.jetbrains.team
          username: Alexey.Afanasiev
          password: ${{ secrets.SPACE_TOKEN }}
      - uses: actions/checkout@v4.2.2
        with:
          ref: ${{ github.event.pull_request.head.sha }}  # to check out the actual pull request commit, not the merge commit
          fetch-depth: 0  # a full history is required for pull request analysis
      - name: 'Qodana Scan'
        uses: JetBrains/qodana-action@edict-experiment
        with:
          use-caches: false
          args: --profile-name,empty,--image,registry.jetbrains.team/p/sa/containers/qodana-jvm:ext,--script,distillate-commits:HEAD~1..HEAD,--property,llm.enable.grazie.token.from.environment.variable.or.file=true,--property,llm.requests.logging.mode=[HTTP_REQUESTS*],--property,ai-assistant-grazie-token=${{ secrets.GRAZIE_TOKEN }}
          upload-result: true
          edict-test-dir: ${{ github.workspace }}/.qodana/report
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}
