name: Jewel Checks

on:
  pull_request:
    paths:
      - "platform/jewel/**"

defaults:
  run:
    working-directory: platform/jewel

jobs:
  checks:
    name: CI code checks
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        name: Check out repository

      - name: Set up JBR 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: jetbrains
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run :check task
        # Run checks for all modules except the IDE plugin sample, as that is bound to have missing APIs issues
        run: ./gradlew check -x :samples:ide-plugin:check --continue --no-daemon

      - name: Annotate JUnit test failures
        uses: mikepenz/action-junit-report@v5
        if: failure()
        with:
          report_paths: '**/build/test-results/test/TEST-*.xml'
          annotate_only: true # A forked repo cannot write comments, so just do annotations

      - name: Upload JUnit test reports
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: junit-test-results
          path: '**/build/test-results/test/TEST-*.xml'
          retention-days: 7

      - name: Run detekt tasks
        # Run detekt checks for all modules except the IDE plugin sample, as that is bound to have missing APIs issues
        run: ./gradlew detekt detektMain detektTest --continue --no-daemon

  check_paths:
    name: Check changed files
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      run_formalities: ${{ steps.filter.outputs.run_formalities }}

    steps:
      - uses: actions/checkout@v4
        name: Check out repository

      - uses: dorny/paths-filter@v3
        name: Check which files are changed
        id: filter
        with:
          filters: |
            run_formalities:
              - '!all(platform/jewel/ui/generated/org/jetbrains/jewel/ui/icons/AllIconsKeys.java)'

  formalities:
    name: PR formalities
    runs-on: ubuntu-latest
    needs: check_paths
    if: needs.check_paths.outputs.run_formalities == 'true'

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
        name: Check out repository

      - name: Grant execute permission for validation scripts
        run: chmod +x ./scripts/validate-commit-message.sh && chmod +x ./scripts/validate-pr-commits.sh

      - name: Validate PR has single commit
        env:
          GH_TOKEN: ${{ github.token }}
          PR_NUMBER: ${{ github.event.pull_request.number }}
        run: ./scripts/validate-pr-commits.sh

      - name: Validate commit message
        env:
          GH_TOKEN: ${{ github.token }}
          JEWEL_YT_TOKEN: ${{ secrets.JEWEL_YT_TOKEN }}
          PR_NUMBER: ${{ github.event.pull_request.number }}
        run: ./scripts/validate-commit-message.sh

  breaking_api_changes:
    name: Check for breaking API changes
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: '2'
        name: Check out repository

      - name: Grant execute permission for validation script
        run: chmod +x ./scripts/validate-api-dump-changes.main.kts

      - name: Annotate breaking API changes
        env:
          PR_NUMBER: ${{ github.event.pull_request.number }}
          GH_TOKEN: ${{ github.token }}
        run: ./scripts/validate-api-dump-changes.main.kts
