# Example: non-public members must be lower-case
[*.{cs,vb}]
dotnet_naming_rule.non_public_members_must_be_lower_case.severity = warning
dotnet_naming_rule.non_public_members_must_be_lower_case.symbols = non_public_symbols
dotnet_naming_rule.non_public_members_must_be_lower_case.style = my_new_style

dotnet_naming_symbols.non_public_symbols.applicable_kinds = property, method, field, event, delegate
dotnet_naming_symbols.non_public_symbols.required_modifiers = private
