#include <windows.h>

#define FILE_VERSION      14,0,0,2
#define FILE_VERSION_STR  "14.0.0.2"
#define APP_VERSION       14,0,0,0
#define APP_VERSION_STR   "14"

#pragma code_page(65001)

VS_VERSION_INFO VERSIONINFO
FILEVERSION FILE_VERSION
PRODUCTVERSION APP_VERSION
FILEFLAGSMASK 0
FILEFLAGS 0
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE 0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "0000fde9"
        BEGIN
            VALUE "CompanyName", "JetBrains s.r.o."
            VALUE "FileDescription", "Filesystem events processor"
            VALUE "FileVersion", FILE_VERSION_STR
            VALUE "InternalName", "fsnotifier"
            VALUE "LegalCopyright", "Copyright (C) 2008-2015 JetBrains s.r.o."
            VALUE "OriginalFilename", "fsnotifier.exe"
            VALUE "ProductName", "IntelliJ Platform"
            VALUE "ProductVersion", APP_VERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0, 0xfde9
    END
END
